<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<style>
    *{
        font-family: cursive;
    }
</style>
<body>
     <div class="w-full flex justify-between items-center bg-blue-200 px-2">
           <div class="flex justify-center items-center "> <h1 class="text-5xl font-bold text-white mb-4 ">Hello✋</h1>
            <h1 class="text-5xl font-bold text-white mb-4 "><%=user.name%></h1></div>
            <a href="/logout" class="p-3 bg-blue-500 text-white rounded-md">Logout</a>

        </div>
    <div id="todo-app" class="w-full min-h-screen flex flex-col justify-center items-center bg-blue-200">
       
        <div class="container  p-4 flex flex-col justify-center items-center border-2 border-black rounded-md">
            <h2 class="text-3xl font-bold mb-4">To-Do List</h2>
        <div class="flex justify-between items-center w-full mb-4">
           <form action="/tasks/<%=user.id%>" method="post" class=" w-full flex justify-center gap-2">
             <input type="text" name = "title" id="new-task" placeholder="Add a new task" class="p-3 border-2 border-black rounded-md">
        <button id="add-task" class="p-3 bg-blue-500 text-white rounded-md">Add</button>
           </form>
        </div>
        <ul id="task-list">
        <% tasks.tasks.reverse().forEach((tasks) => { %>
        <li class="flex justify-between items-center w-full mb-4 border-1 border-black p-1 gap-3 rounded-md">
            <input type="checkbox" name="checkbox" id="checkbox" class="w-4 h-4 rounded-full" onchange="window.location.href='/tasks/done/<%=user.id%>/<%=tasks._id%>'" >
          <% if(tasks.Done){ %>
            <span class="line-through"><%=tasks.title%></span>
          <% }else{ %>
            <span><%=tasks.title%></span>
          <% } %>
        <a href="/tasks/delete/<%=user.id%>/<%=tasks._id%>" class="p-2 bg-red-500 text-white rounded-md"> Delete</a>
        </li>
        <% }); %>
        </ul>
        </div>
    </div>
   <script src="/javascripts/script.js"></script>
</body>
</html>

